.pagination {
    margin: 8px 0;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 7px 12px;
    font-size: 15px;
}
.order_success {
    background-color: #71e8b7;
}

.view_id a{
    color: #0AA5E2;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group, .list-group.list-group-root > p .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > p > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > p > .list-group-item {
    padding-left: 45px;
}
.item-p{
    margin: 0;
    position: relative;
}
.item-p > span{
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
#reset-filter{
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}
.overlay{
    display: none;
}
.fa-times:before{
    content: "\f00d";
    margin-right: 16px;
}

